

.page-node #page-title {
	font-family: 'League Gothic';
	font-size:54px;
	margin-bottom: 20px;
	}
.page-node .field-label{
	font-family: 'League Gothic';
	}
#page2{
	margin-left:auto;
	margin-right:auto;
	width:920px;
}
.page-user #page2 #page-title{
}
#page2 #main-content-header{
	z-index: 100000;
}
#page2 #secondary-menu-bar{
	margin-bottom: 100px;
}


/*submitted by*/
.page-node footer{
	position: absolute;
	top: 200px;
	display: none;
}
/*content*/
.page-node .node-content{
	
}
.page-node #block-jquery-countdown-jquery-countdown{
	position: absolute;
	top: 144px;
	width: 200px;
	margin-left: 700px;
	font-family: 'League Gothic';
	font-size: 16px;
	color: white;
	padding: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(155,20,90,0.5);
	height: 90px;
	padding: 0px;
	padding-top: 10px;
	
	
}
.page-node #block-jquery-countdown-jquery-countdown .block-title{
	font-family: 'League Gothic';
	padding-left: 10px;
	padding-bottom: 0px;
	display: none;
	
}
.page-node #block-jquery-countdown-jquery-countdown #jquery-countdown-jquery-countdown{
	background: none !important;
	border: none !important;
}
.page-node .node-content .field-name-body{
	font-family: 'League Gothic';
	position: absolute;
	top: 200px;
	z-index: 1;
	font-size: 20px;
	height: 20px;
	/*display: none;*/
	
}
.page-node .node-content .field-name-field-date{
	font-family: 'League Gothic';
	position: absolute;
	top: 460px;
	padding-left: 20px;
	z-index: 1000000;
	font-size: 40px;
	color: #c4ff00;
	}
.page-node .node-content .field-name-field-date .field-label{
	display:none;
}

.page-node .node-content .field-name-field-loc{
	position: absolute;
	top: 1180px;
	z-index: 300;
	padding-left: 20px;
}
.page-node .node-content .field-name-field-loc .field-label{
	display:none;
}

/*coverphoto*/
.page-node .node-content .field-name-field-coverphoto{
	position: absolute;
	top: 270px;
	height: 250px;
	overflow: hidden;
	width:900px; 
    background-color:#ccc;
}
.page-node .node-content .field-name-field-coverphoto .field-label{
	display: none;
}
.page-node .node-content .field-name-field-coverphoto .field-items{
	margin-top: 0px;
}
.page-node .node-content .field-name-field-coverphoto .field-items::before
{
    display:block;
    content:'';
    position:absolute;
    width:100%;
	height: 250px;
	-moz-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.8);
    -webkit-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.8);
    box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.8);
}
.page-node .node-content .field-name-field-coverphoto .field-items img{
	width: 100%;
	margin-top: -50px;
}


/*map*/
.page-node .node-content .field-name-field-address{
	position:absolute;
	top: 800px;
	
	background-color: rgba(5,3,6,0.50);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 400px !important;
	height: 380px !important;
	padding: 20px;
}
.page-node .node-content .field-name-field-address iframe{
	width: 400px !important;
	height: 300px !important;

	
}

/*ticket*/
.page-node .node-content .field-name-field-tickets{
	position: absolute;
	top: 530px;
	width: 860px;
	padding: 20px;
	
	background-color: rgba(5,3,6,0.50);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	z-index: 120000;
	
}

.page-node .node-content .field-name-field-tickets #ticket_reserve_form{
	background-color: rgba(5,3,6,0.60);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 20px 20px 90px 20px;
	
}
.field-label{
	font-size: 30px;
	text-transform:uppercase;
	letter-spacing:1px;
}
/*movie*/
.page-node .node-content .field-name-field-video{
	position: absolute;
	top: 1230px;
	padding: 20px;
	width: 410px;
	margin-left: 450px;
	
	background-color: rgba(5,3,6,0.50);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
}
.page-node .node-content .field-name-field-video iframe{
	width: 410px !important;
}
.page-node .node-content .field-name-field-tickets iframe{
}
/*facebook*/
#block-fb-social-graduation{
	position: absolute;
	top: 800px;
	margin-left: 460px;
	width: 430px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: rgba(5,3,6,0.50);
	height: 450px;
	padding: 10px;
	height: 400px !important;
}
#block-fb-social-graduatio .pluginSkinLight{
	
}
#block-views-slideshow-event-block{
	position:absolute;
	top: 1230px;
	
	background-color: rgba(5,3,6,0.50);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 400px !important;
	height: 380px !important;
	padding: 20px;
	font-family: 'League Gothic';
	margin-left: 10px;
	font-size: 20px !important;
	
}
#block-views-slideshow-event-block .views-label-field-slideshow-pictures{
	display: none;
}
#block-views-slideshow-event-block .field-content img{
	width:380px;
}
#block-views-slideshow-event-block .field-content{

	height: 320px !important;
	width:380px;
	overflow: hidden;
}
#block-views-slideshow-event-block h2.block-title{
	font-family: 'League Gothic';
	font-size: 38px !important;
	
}

.error{
	display: none;
}